html{height: 100%;}
body { overflow: auto; font-family: Tahoma,Verdana,Arial; font-size: 8pt; margin: 0;  padding: 0;  height: 100%; color:#666666;}
input,select,password { border: 1px solid #CCCCCC; border-radius: 6px 6px 6px 6px; color:#666666; font-size: 18px; height: 25px}

.hidden {display:none}
div.spinner {
	width: 100% !important;
	height: 100% !important;
}


div.header {height: 60px;border-bottom:1px solid #ddd;}
div.header div.logo{background-image: url(header.jpg);display: block;float: right; height: 60px; width: 300px;}

div.content {}
div.content ul {margin-top: 20px;padding: 0;list-style-type: none;text-align: center;}
div.content ul li {display: block;text-decoration: none; padding: .2em 1em; color: #A0A0A0; margin-bottom: 5px;}
div.content ul li div {display:block;  width: 100%; padding-top: 3px; padding-bottom: 3px; font-size:15px;}
div.content ul li div.item {display:block; width: 100%; padding-top: 5px; padding-bottom: 5px; font-size:12px; font-weight: bold;  border: 1px solid #40678C;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 6px #888888;
    }
div.content div.title {clear:both; font-weight: bold; color: #A0A0A0; margin-top:15px; margin-right:10px; font-size: 18px; text-align: right; }

