.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	/* z-index: 999; sacado para que en el splash no este por arriba del footer */
	background: #fff;
	/*display: inline;
	width:200px;
	height:200px;*/
}
.spinner-msg {
	text-align: center;

}

.spinner-img {
	background: url(spinner.gif) no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

.spinner-content {
	position: relative !important;
	top: 45% !important;
	z-index: 10;
}

.documentSpinner {
	width: 100% !important;
	height: 100% !important;
}