html.js.no-borderradius.no-boxshadow.no-textshadow.no-cssgradients { /*SOLO PARA IE*/
	overflow: hidden;
}

html.ie8.js.no-borderradius.no-boxshadow.no-textshadow.no-cssgradients { /*SOLO PARA IE*/
	overflow: auto !important;
}

body { 
	margin: 0px;
	overflow: auto; /*Corrección de scrollbar vertical en IE*/
	background-color: white;
}
body, input, select, textarea { margin: 0px; padding: 0px; overflow: 0px; font-family: Arial; font-size: 8pt; }
form { margin: 0px; border: 0xp;}

div.header { height: 2px; }
div.body { height: 90%;}
div.theFotterPrev { clear: both; margin-bottom: 30px; }
div.theFooter { background-color: #0A5584; bottom: 0; color: white; line-height: 20px; position: fixed; width: 100%; z-index: 11; }
div.theFooter div.version { text-align: left; font-size: 7pt; font-weight: bold; color: white; padding-left: 10px; }

div.tabContainer {
	color: #FFFFFF; 
	margin: 0; 
	padding-bottom: 2px; 
	padding-top: 5px; 
	position: fixed; 
	top: 0;
	left: 0; 
	width: 100%; 
	font-weight: 13px;
}

.cssgradients div.tabContainer {
	height: 30px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0A5584) to(#0A5584)); /*old webkit*/
    background: -webkit-linear-gradient( #0A5584, #0A5584); /*new webkit*/
    background: -moz-linear-gradient( #0A5584, #0A5584); /*gecko*/
    background: -ms-linear-gradient( #0A5584, #0A5584); /*IE10*/
    background: -o-linear-gradient( #0A5584, #0A5584); /*opera 11.10+*/
    background: linear-gradient( #0A5584, #0A5584); /*future CSS3 browsers*/
}

.no-cssgradients div.tabContainer {
	height: 34px;
	background: url("img/top_frm.png") repeat-x scroll center bottom #2A467A;
}

.boxshadow div.tabContainer {
	/*-moz-box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;*/
}

div.tabContainer div.chatScrollContainer { display: inline; float:right; }
div.tabContainer div.chatScrollContainerScroll { overflow: hidden; display: inline-block; white-space: nowrap; }
div.tabContainer div.chatScrollContainerScroll div.subchatContainer { white-space: nowrap; display: inline-block;}

div.tabContainer div.tabScrollContainer { display: inline; }
div.tabContainer div.tabScrollContainerScroll { width: 55%; overflow: hidden; display: inline-block; white-space: nowrap; }
div.tabContainer div.tabScrollContainerScroll div.subTabContainer { white-space: nowrap; display: inline-block;}
div.tabContainer div.tabScrolLeft { display: inline-block; margin-right: 2px;
    height: 30px;
    line-height: 30px;
    width: 10px;
	cursor: pointer;
	background-image: url("img/splash/scrollLeft.png");
	background-repeat: no-repeat;
}
div.tabContainer div.tabScrolRight {display: inline-block; margin-left: 2px;
    height: 30px;
    line-height: 30px;
    width: 10px;
	cursor: pointer;
	background-image: url("img/splash/scrollRight.png");
	background-repeat: no-repeat;
}

div.tabContainer div.tabHighlighted { text-decoration: blink; }
div.tabContainer div.tab { display: compact; float: left; border-width: 1px; border-style: solid; border-color: grey; margin: 0px; margin-right: 5px; height: 30px; line-height: 30px; font-size: 12px; font-weight: bold; }
div.tabContainer div.tabHome {
	background: url("img/menu/home.png") !important; 
	background-repeat: no-repeat; 
	background-position: center bottom; height: 30px; width: 30px; border-width: 0px; margin-left: 5px; 
	background-color: transparent !important; 
}
div.tabContainer div.tabHighlightedHome {
	background-image: url("/Apia2.0/page/login/ucm/homeCall.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

div.tabContainer div.tabMenu {background: url("img/menu/menu.png"); background-repeat: no-repeat; background-position: center; width: 22px; border-width: 0px; }
div.tabContainer div.tabUser {
	/*background: url("img/menu/user.png") !important;
	background-repeat: no-repeat !important;
	background-position: left !important;
	padding-left: 25px;*/
	border-width: 0px;
	float: right;
	padding-right: 8px;}

.no-borderradius div.tabContainer div.tabUser {
	position: absolute;
	top: 5px;
	right: 0px;
}

div.tabContainer div.tabUserDisconnected { background-color: orange !important; }
div.tabContainer div.active {
	background-color: #464646 !important; 
	border-color: #464646;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0,0,0,0.08) 40%);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset,0 -1px 1px rgba(0,0,0,0.1) inset,0 1px 0px rgba(0,0,0,0.2) inset;
}
div.tabContainer div.activeMenu { background-color: #464646 !important; border-color: #464646;}
div.tabContainer div.over { background-color: #1B5F89; cursor: pointer; }
div.tabContainer div.tab *.remover { margin-left: 5px; margin-right: 2px; font-weight: bold; font-size: 15px }
div.tabContainer div.tab *.remover:hover { color:#c0c0c0 }

div.tabContainer div.tab div.left { margin: 0px; }
div.tabContainer div.tab div.content { display: inline; padding-left: 4px; padding-right: 4px; white-space: nowrap; }
div.tabContainer div.tab div.right { margin: 0px; }


div.tabContentContainer { 
	margin-top: 47px;
	/*position: relative;
	top: 47px;*/
}
div.tabContentContainer *.tabContent { 
	/*display: none;*/ 
	visibility: hidden;
	top: -100%; 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	border-width: 0px;
	left: 0px;
	 
}
div.tabContentContainer *.tabMenu {
	filter: alpha(opacity=85);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	display: none; position: absolute; top: 100px; left: 100px; background-color: #464646; border: 1px solid #464646; color: white; opacity: .85; width: 350px; border-radius: 0 0 6px 6px; padding: 5px 5px 5px 5px; }
div.tabContentContainer *.tabUser { display: none; position: absolute; background-color: #464646; border: 1px solid #464646; text-align: right; width: 240px; border-radius: 0 0 6px 6px; color: white; 
	opacity: 0.85;
	filter: alpha(opacity=85);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	padding: 5px;
}
div.tabContentContainer *.tabUser .chat .status { margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    font-weight: bold; }
div.tabContentContainer *.tabUser .chat .closed { margin-bottom: 5px; }
div.tabContentContainer *.tabUser .chat .panel { text-align: left; }
div.tabContentContainer *.tabUser .chat .panel .content { color: white; }
div.tabContentContainer *.tabUser .chat .open .label { background-image: url("img/splash/minusWhite.gif"); background-position: right center; background-repeat: no-repeat; }
div.tabContentContainer *.tabUser .chat .close .label { background-image: url("img/splash/plusWhite.gif"); background-position: right center; background-repeat: no-repeat; }
/*div.tabContentContainer *.tabUser .chat .panel .label { text-align: left; font-weight: bold; background-color: #EDEDED; cursor: pointer; padding-left: 5px; }*/
div.tabContentContainer *.tabUser .chat .panel .label { border-bottom: 1px solid white; cursor: pointer; font-weight: bold; margin-bottom: 6px; padding-left: 5px; text-align: left; }
div.tabContentContainer *.tabUser .chat .content { height: 100px; overflow: auto; padding-left: 10px; padding-right: 5px; padding-bottom: 5px; }
div.tabContentContainer *.tabUser .chat .content span.chatGroupNumber { color: white; }
div.tabContentContainer *.tabUser div.exit { color: white;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px; 
       position: relative;}
div.tabContentContainer *.tabUser div.configuration { color: white;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px; }
div.tabContentContainer *.tabChat { display: none; position: absolute; background-color: #FEFEFE; border: 1px solid black; }
div.tabContentContainer *.active {
	display: block;
	visibility: inherit;
	top: 47px;
}

/* Chat style - start */
div.chatParticipants { background-color: #EDEDED; margin-bottom: 5px; padding-bottom: 5px; padding-left: 5px; }
div.chatParticipants label { font-weight: bold; }
div.chatParticipants span.participant { margin-right: 5px; }
div.chatContent { overflow: auto;  width: 200px; height: 400px; }
div.tabContentContainer *.tabChat input { width: 100%; border-left-width: 0; border-right-width: 0; padding-left: 0; }
div.chatContent p.chatMessage { margin-bottom: 0px; margin-top: 0; padding-left: 5px; padding-bottom: 5px; }
div.chatContent p.chatMessage b { margin-right: 5px; display: table; }
div.chatContent p.chatMessageIdent { }
div.chatContent p.chatMessageByOwner {text-align: right; margin-right: 5px; }
div.chatContent p.chatMessageByOwner b { margin-left: 5px; float: right; }
div.chatContent p.chatMessageByOwnerIdent { }

div.chatContent p.chatMessageByOwner ~ p.chatMessageByOwner { background-color: white !important; padding-right: 5px; }
div.chatContent p.chatMessage ~ p.chatMessage { }
div.chatContent > p.chatMessage { background-color: #f7f7f7; }
div.chatContent > p.chatMessageByOwner { background-color: white; }
div.chatContent p.chatMessageByOwner b { display: none !important; }
/* Chat style - end */

div.form { margin-bottom: 5px; }
div.form div.fields div.required label {background-repeat: no-repeat; background-position: left center; padding-left: 20px; background-image: url('../image/required.gif');}
div.form div.fields div.readonly label {color: gray; }
div.form div.fields div.readonly input {background-color: gray; }
div.form div.fields div.buttons { text-align: right;}
div.form div.title {font-weight: bold; cursor: pointer; background-repeat: no-repeat; background-position: left center; padding-left: 20px; background-image: url('../image/minus.gif'); }
div.close div.title {background-image: url('../image/plus.gif'); }
div.close div.fields {display: none; }

div.left { float: left; }
div.right { float: right; }
div.withMargin { margin: 3px; padding: 3px; }

.hidden {visibility: hidden;}
.visible {visibility: visible;}

.dontShow {display: none !important;}
.doShow {display: inherit;}

.searchField { width: 90%; }
.searchStart {color: grey; }

.menuElement {display: block; cursor: pointer; clear: both; }
.menuElement div.favSelection { float: right; width: 12px; height: 12px; background-image: url("img/menu/fav_12.png"); background-repeat: none; background-size: 12px; margin-right: 5px; }
.menuElement div.favIs { background-image: url("img/menu/favOn_12.png"); }
.searchElement {margin-bottom: 5px; font-weight: bold; padding-left: 5px; }
.searchElementOver { text-decoration: underline; }
.resultModeSearch {height: 300px; width: 100%; overflow: auto;}
.resultModeSearchInfo { color: grey; }
.resultmodeFavorites {width: 200px; }

.resultModeTree {height: 300px; width: 100%; overflow: auto; }
.resultModeTree ul { list-style: none outside none; margin: 0; padding-left: 15px; }
.resultModeTree ul.menuClose { display: none; }
.resultModeTree ul.menuOpen { display: inherit; }
.resultModeTree ul.menuFolder { list-style: none outside none; margin: 0; padding-left: 15px; }
.resultModeTree ul.menuFolder li.menuFunctionality { list-style: none outside none; margin: 0; padding-left: 15px; }
.resultModeTree ul.menuFolder li span { font-weight: bold; cursor: pointer; }
.resultModeTree ul.menuFolder li span.over { text-decoration: underline; }
.resultModeTree ul.menuFolder li.menuOpen span.menuOpen { background-image: url("img/menu/tree/minus.gif"); background-repeat: no-repeat; background-position: left center; padding-left: 16px; }
.resultModeTree ul.menuFolder li.menuClose span.menuClose {  background-image: url("img/menu/tree/plus.gif"); background-repeat: no-repeat; background-position: left center; padding-left: 16px; }


div.title {font-weight: bold; margin-bottom: 2px;}
div.sangria {margin-left: 5px;}

.loading {position: absolute; background-color: #FFFFFF; filter: alpha(opacity=70); opacity: .7; background-position: center; background-repeat: no-repeat; }

div.planelContainer { padding: 5px; }
div.planelContainer div.panel { display: inline-block; width: 100%; margin-bottom: 15px; color: #6B6B6B; }
div.planelContainer div.panel div.options { float: right; display: none; }
div.planelContainer div.panel div.optionsInner { float: right; visibility: hidden; }
div.planelContainer div.panelOver div.options {display: inherit !important;}
div.planelContainer div.panelOver div.optionsInner {visibility: visible !important;}
div.planelContainer div.panel div.title { border-bottom: 1px solid #CCCCCC; font-weight: bold; color: #464646; font-size: 12px; height: 20px; line-height: 20px; margin: 0; padding-left: 5px; padding-right: 2px; margin-bottom: 5px; }

div.planelContainer div.panel div.panelMoveIcon { background-image: url("img/splash/move.gif"); background-position: center center; background-repeat: no-repeat; cursor: move; height: 20px; width: 12px; margin-left: 5px; margin-top: 2px;}
div.planelContainer div.panel div.panelConfigurationIcon { background-image: url("img/splash/panelconf.gif"); background-position: center center; background-repeat: no-repeat; cursor: pointer; height: 14px;   margin-top: 5px;/* margin-right: 5px; */ width: 14px; }
div.planelContainer div.panel div.panelConfigurationOptions { 
	/*background-color: white; /*border-color: #cccccc;border-style: solid; border-width: 1px; */ 
	display: none; 
	/*margin: 1px;*/ 
	/*padding: 3px;*/ 
	/*text-align: right;*/ 
/* 	width: 75px;  */
	z-index: 1; 
	/*box-shadow: 1px 1px 1px 1px;*/
	
	background-color: white;
	border: 1px solid #DDDDDD;
    padding-top: 8px;
    padding-bottom: 8px;
	
	-moz-box-shadow: 1px 1px 2px #909090;
	-webkit-box-shadow: 1px 1px 2px #909090;
	box-shadow: 1px 1px 2px #909090;
}
div.planelContainer div.panel div.panelConfigurationOptions div.panelConfigurationOption { 
	/*display: block; */
	font-weight: normal;
	line-height: 14px; 
	padding-left: 12px;
	padding-right: 12px;
	cursor: pointer;
}
div.planelContainer div.panel div.panelConfigurationOptions div.over { 
	/*cursor: pointer; 
	color: #464646; */
	background-color: #0066b1;
	color: white;
}

div.panel > div > table { width: 100%; /*border-bottom: 1px solid #DDDDDD;*/ }
div.panel > div > table thead tr td { font-weight: bold; line-height: 20px; margin: 0px; padding: 0px; border-left: 1px solid #FFFFFF; color: black; }
div.panel > div > table tbody tr.trOdd { background-color: #F7F7F7; }
div.panel > div > table tbody tr td { padding: 2px 0px 4px; border-left: 2px solid #FFFFFF; }

div.panel > div > div > table { width: 100%; /*border-bottom: 1px solid #DDDDDD;*/ }
div.panel > div > div > table thead tr td { font-weight: bold; line-height: 20px; margin: 0px; padding: 0px; border-left: 1px solid #FFFFFF; color: black; }
div.panel > div > div > table tbody tr.trOdd { background-color: #F7F7F7; }
div.panel > div > div > table tbody tr td { padding: 2px 2px 4px; border-left: 1px solid #FFFFFF; }

div.configurationModal { 
	display: none; 
	width: 300px; 
	height: 210px; 
/* 	border-width: 2px;   */
	background-color: white; 
/* 	border-top: 1px ridge black;  */
/* 	border-left: 1px ridge black;  */
/* 	border-bottom: 2px ridge black;  */
/* 	border-right: 2px ridge black;  */
	
	-webkit-box-shadow: 0px 4px 23px 3px #a8a8a8;
	-moz-box-shadow: 0px 4px 23px 3px #a8a8a8;
	box-shadow: 0px 4px 23px 3px #a8a8a8;
	
	border: 1px solid #a8a8a8;
	
	z-index: 10000;
}

div.configurationModal div.header {background-color: #5A89A2;
    color: white;
    font-weight: bold;
    height: 15px;
    margin-bottom: 5px;
    padding: 5px;}

div.configurationModal div.container {
	 height: 205px;
}

div.configurationModal div.container div.title {font-weight: bold; margin-bottom: 2px; border-bottom: 1px solid #CCCCCC; margin-left:10px; margin-right:10px;}

div.configurationModal fieldset {margin-left:10px; margin-right:10px; border-color:#D8D8D8; border-width: 1px;}

div.configurationModal table {font-weight: bold; margin-bottom: 5px; padding: 5px; height: 100%; width:100%;}

div.configurationModal div.footer { margin-top: -47px; min-height: 20px; padding: 1px; background-color: #F7F7F7;; }
div.configurationModal div.footer .button {color: #0679B8; cursor: pointer; display: inline; font-weight: bold; margin-left: 5px; line-height: 20px; }
div.configurationModal div.footer .close { float:right; cursor: pointer; color: #0679B8; line-height: 20px; }
div.configurationModal div.footer .close { float:right; cursor: pointer; color: #0679B8; line-height: 20px; margin-right: 20px;}

div.configurationModal .button {width: 140px;} 

.maskConfiguration { 
	background-color: white;
/* 	opacity: 0.2; */
/* 	filter: alpha(opacity=20); */
/* 	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); */
	
	filter: alpha(opacity=75);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

/**Button**/

div.configurationModal .button button.genericBtn {font-weight: bold;}
div.configurationModal button.genericBtn {	padding-bottom: 1px; height: 27px;	width: 98%;	color: #606060;	font-family: Arial;	font-size: 8pt;	border: 1px solid silver;	border-radius: 3px;	cursor: pointer; margin-left: 0px; margin-right: 0px; }
.cssgradients button.genericBtn {	background: -webkit-gradient(linear, 0 0, 0 100%, from(white) to(#EFEFEF));	background: -webkit-linear-gradient( white, #EFEFEF);	background: -moz-linear-gradient( white, #EFEFEF);	background: -ms-linear-gradient( white, #EFEFEF);	background: -o-linear-gradient( white, #EFEFEF);	background: linear-gradient( white, #EFEFEF);}
.cssgradients button.genericBtn:hover {	background: -webkit-gradient(linear, 0 0, 0 100%, from(#247AB3) to(#2B85C3));	background: -webkit-linear-gradient( #247AB3, #2B85C3);	background: -moz-linear-gradient( #247AB3, #2B85C3);	background: -ms-linear-gradient( #247AB3, #2B85C3);	background: -o-linear-gradient( #247AB3, #2B85C3);	background: linear-gradient( #247AB3, #2B85C3);	color: white;	border-color: #2b85c3;}
.no-cssgradients button.genericBtn {	background-image: url("img/button/back_button.gif");}
.no-cssgradients button.genericBtn:hover {	background-position: 0px 29px;	color: white;}
/*.boxshadow button.genericBtn {	-moz-box-shadow: 0 1px 2px #C0C0C0;	-webkit-box-shadow: 0 1px 2px #C0C0C0;	box-shadow: 0 1px 2px #C0C0C0;}*/
.extendedSize button.genericBtn { height: 37px !important; word-break: keep-all; display: block; }
.hideButton { display: none; }

.cssgradients button.suggestedAction {	background: -webkit-gradient(linear, 0 0, 0 100%, from(#247AB3) to(#2B85C3));	background: -webkit-linear-gradient( #247AB3, #2B85C3);	background: -moz-linear-gradient( #247AB3, #2B85C3);	background: -ms-linear-gradient( #247AB3, #2B85C3);	background: -o-linear-gradient( #6aa9d5, #2B85C3);	background: linear-gradient( #6aa9d5, #2B85C3);	color: white;	border-color: #2b85c3;}
.no-cssgradients button.suggestedAction {	background-position: 0px 24px;	color: white;}

div.widComments .button button.genericBtn {font-weight: bold;}
div.widComments button.genericBtn {	padding-bottom: 1px; height: 27px;	width: 98%;	color: #606060;	font-family:  Arial;	font-size: 8pt;	border: 1px solid silver;	border-radius: 3px;	cursor: pointer; margin-left: 0px; margin-right: 0px; }
div.widComments .button {width: 140px;}


/** Panels components **/
.panel .highlightText { color: #052E9F; }
.panel .subTitle { color: #c0c0c0; }
.panel .oddLine { background-color: #F7F7F7; }
.panel .info { color: grey; float: left; margin-top: 5px; font-size: 7.5pt; font-style: italic; }
.panel .date { color: grey; margin-top: 5px;font-size: 7.5pt; font-style: italic; }
.panel .content { color: #6B6B6B; overflow: hidden; }

.panel .dateOverdue { color: red !important; }
.panel .dateWarning { color: orange; }
.panel .priority1 { background-image: url("img/priority1.gif"); background-repeat: no-repeat; background-position: left center; padding-left: 15px;}
.panel .priority2 { background-image: url("img/priority2.gif"); background-repeat: no-repeat; background-position: left center; padding-left: 15px;}
.panel .priority3 { background-image: url("img/priority3.gif"); background-repeat: no-repeat; background-position: left center; padding-left: 15px;}
.panel .priority4 { background-image: url("img/priority4.gif"); background-repeat: no-repeat; background-position: left center; padding-left: 15px;}

/*panel div.functionality width: 140px;*/
.panel div.functionality { display: inline-block; width: 240px; height: 30px; margin-right: 5px; margin-bottom: 5px; cursor: pointer; vertical-align: top; }
.panel div.functionality img { float: left; margin-right: 5px; }
.panel div.functionality div.name { font-weight: normal; overflow: hidden; text-overflow: ellipsis; /*white-space: nowrap;*/ }
.panel div.functionality div.description { margin-bottom: 5px; }

.panel div.document { cursor: pointer; display: inline-block; height: 44px; margin-bottom: 2px; margin-right: 2px; vertical-align: top; width: 24%; margin-left: 1px; margin-right: 1px; }
.panel div.document div.docImg { float: left; height: 32px; margin-bottom: 2px; margin-top: 3px; vertical-align: middle; width: 32px; background-size: 32px 32px; background-repeat: no-repeat; }
.panel div.document div.docName { font-weight: normal; overflow: hidden; padding-left: 3px; text-overflow: ellipsis; white-space: nowrap; }
.panel div.document div.docName.bold { font-weight: bold !important; }
.panel div.document div.docSize { font-weight: normal; overflow: hidden; padding-left: 3px; text-overflow: ellipsis; white-space: nowrap; font-size: 10px; }
.panel div.document div.docSize.bold { font-weight: bold !important; }
.panel div.document div.docDate { font-weight: normal; overflow: hidden; padding-left: 3px; text-overflow: ellipsis; white-space: nowrap; font-size: 10px; }
.panel div.document div.docDate.bold { font-weight: bold !important; }

.extensionUnknown { background-image: url('img/extensions/unknown.gif'); }
.extensionAAC { background-image: url('img/extensions/aac.gif'); }
.extensionAI { background-image: url('img/extensions/ai.gif'); }
.extensionAIFF { background-image: url('img/extensions/aiff.gif'); }
.extensionAVI { background-image: url('img/extensions/avi.gif'); }
.extensionBAT { background-image: url('img/extensions/bat.gif'); }
.extensionBMP { background-image: url('img/extensions/bmp.gif'); }
.extensionCSS { background-image: url('img/extensions/css.gif'); }
.extensionCSV { background-image: url('img/extensions/csv.gif'); }
.extensionDMG { background-image: url('img/extensions/dmg.gif'); }
.extensionDOC { background-image: url('img/extensions/doc.gif'); }
.extensionDOCX { background-image: url('img/extensions/docx.gif'); }
.extensionDOT { background-image: url('img/extensions/dot.gif'); }
.extensionDOTX { background-image: url('img/extensions/dotx.gif'); }
.extensionDWG { background-image: url('img/extensions/dwg.gif'); }
.extensionDXF { background-image: url('img/extensions/dxf.gif'); }
.extensionEPS { background-image: url('img/extensions/eps.gif'); }
.extensionEXE { background-image: url('img/extensions/exe.gif'); }
.extensionFLV { background-image: url('img/extensions/flv.gif'); }
.extensionGIF { background-image: url('img/extensions/gif.gif'); }
.extensionHTML { background-image: url('img/extensions/html.gif'); }
.extensionISO { background-image: url('img/extensions/iso.gif'); }
.extensionJAVA { background-image: url('img/extensions/java.gif'); }
.extensionJPG { background-image: url('img/extensions/jpg.gif'); }
.extensionJS { background-image: url('img/extensions/js.gif'); }
.extensionKEY { background-image: url('img/extensions/key.gif'); }
.extensionM4V { background-image: url('img/extensions/m4v.gif'); }
.extensionMID { background-image: url('img/extensions/mid.gif'); }
.extensionMOV { background-image: url('img/extensions/mov.gif'); }
.extensionMP3 { background-image: url('img/extensions/mp3.gif'); }
.extensionMP4 { background-image: url('img/extensions/mp4.gif'); }
.extensionMPG { background-image: url('img/extensions/mpg.gif'); }
.extensionODP { background-image: url('img/extensions/odp.gif'); }
.extensionODS { background-image: url('img/extensions/ods.gif'); }
.extensionODT { background-image: url('img/extensions/odt.gif'); }
.extensionOTP { background-image: url('img/extensions/otp.gif'); }
.extensionOTS { background-image: url('img/extensions/ots.gif'); }
.extensionPDF { background-image: url('img/extensions/pdf.gif'); }
.extensionPHP { background-image: url('img/extensions/php.gif'); }
.extensionPNG { background-image: url('img/extensions/png.gif'); }
.extensionPPS { background-image: url('img/extensions/pps.gif'); }
.extensionPPT { background-image: url('img/extensions/ppt.gif'); }
.extensionPSD { background-image: url('img/extensions/psd.gif'); }
.extensionPY { background-image: url('img/extensions/py.gif'); }
.extensionQT { background-image: url('img/extensions/qt.gif'); }
.extensionRAR { background-image: url('img/extensions/rar.gif'); }
.extensionRTF { background-image: url('img/extensions/rtf.gif'); }
.extensionTGA { background-image: url('img/extensions/tga.gif'); }
.extensionTGZ { background-image: url('img/extensions/tgz.gif'); }
.extensionTIFF { background-image: url('img/extensions/tiff.gif'); }
.extensionTXT { background-image: url('img/extensions/txt.gif'); }
.extensionWAV { background-image: url('img/extensions/wav.gif'); }
.extensionXLS { background-image: url('img/extensions/xls.gif'); }
.extensionXLSX { background-image: url('img/extensions/xlsx.gif'); }
.extensionXML { background-image: url('img/extensions/xml.gif'); }
.extensionZIP { background-image: url('img/extensions/zip.gif'); }

div.drag-task {
	position: absolute;
	width: 48px;
	height: 48px;
	background-image: url("img/chat/task-dragging.png");
	z-index: 999999;
}

div.splash-campaign-right {
	width: 25%;
	float: right;
}

div.splash-campaign-left {
	width: 74%;
	float: left;
}

#tabUser {
	cursor: pointer;
}


#chatUsersFilter {
	float: right;
	margin-right: 17px;
	background: none;
	border: none;
	margin-top: -1px;
	color: white;
	outline: none;
	background-image: url('img/chat/search-black.png');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 14px;
	cursor: pointer;
}

div.chatContent > p.chatMessage {
	font-size: 9pt;
}