BODY
{
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 8pt;
    MARGIN: 4px 0px 6px 4px
}
UL
{
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 0px;
    WHITE-SPACE:nowrap;
}
LI UL
{
    DISPLAY: none;
    MARGIN-LEFT: 16px
}
LI
{
    CURSOR: default;
    LIST-STYLE: none
}
LI.clsHasKids
{
    CURSOR: hand;
    LIST-STYLE: none
}
A:link
{
    COLOR: navy;
    FONT-WEIGHT: normal
}
A:visited
{
    COLOR: navy;
    FONT-WEIGHT: normal
}
A:active
{
    COLOR: navy;
    FONT-WEIGHT: normal
}
A:hover
{
    TEXT-DECORATION: none
}
IMG
{
    POSITION: relative;
    TOP: 4px
}
