/* Div General */
#menuContainer { position: absolute; width: 310px; height: 600px; display: inline-block; float: right; right: 0px; z-index: 1; background-color: #FFF; }
			
/* Panel de la tarea */	
#taskInfoContainer { position: absolute; width: 310px; height: 125px; }
#taskTitleContainer { position: absolute; top: 0%; }
#taskContent { position: absolute; top:20%; width: 300px; height: 100px; }
#imgTask { position: absolute; top: 10%; left: 7%; background: transparent url("../../templates/img/exp_en_espera.png") no-repeat scroll 0% 0% / 45px auto; width: 31px; height: 55px; background-size: 31px; } 
#descTask{ position: absolute; top: 15%; left: 28%; width: 190px; font-size: 12px; text-align: justify; }
div.titImage{ display: inline; }
div.proTitle{ display: inline; font-weight: bold; font-size: 12px; }
div.taskTitle{ display: inline; font-weight: bold; font-size: 12px; }		
			
/* Menu de botones */
#buttonsActions{ position: absolute ; top: 37%; }
			
/* Estilo de elementos */			
div#hmenu ul { list-style: none; margin: 5; padding: 0; list-style-type: none; }			
div#hmenu ul li { margin: 0; padding: 0; display: inline; }			
div#hmenu ul a:link{ margin: 0; padding: .3em .4em .3em .4em; text-decoration: none; font-weight: bold; font-size: medium; } 
div#hmenu ul a:visited{ margin: 0; padding: .3em .4em .3em .4em; text-decoration: none; font-weight: bold; font-size: medium; } 
div#hmenu ul a:active{ margin: 0; padding: .3em .4em .3em .4em; text-decoration: none; font-weight: bold; font-size: medium; } 
div#hmenu ul a:hover{ margin: 0; padding: .3em .4em .3em .4em; text-decoration: none; font-weight: bold; font-size: medium; }
div.titImage { display: none !important; }
div.title{border-bottom: 1px solid #CCCCCC; color: #464646; font-size: 12px; line-height: 20px; margin: 0; padding-left: 5px; padding-right: 2px; font-weight: bold; }

/* Ocultar menu */
#pinHidden { position: absolute; top: 0%; left: 98%; width: 20px; height: 20px; background-image: url("../../templates/img/pinHide.png"); background-repeat: no-repeat; background-position: 0% 0%; cursor:pointer; z-index: 2; }
#pinShow { position: absolute; top: 0%; left: 98%; display: block; cursor: pointer; width: 20px; height: 20px; background-image: url("../../templates/img/pinShow.png"); background-repeat: no-repeat; background-position: 0% 0%; z-index: 2; }
	
/* Expediente */
#expedienteContainer { position: absolute; top: 18%; height: 175px; width: 310px; }
#dowloadContainer { position: absolute; top: 15%; left: 1%; height: 70px; width: 300px; }
	
#dowloadRef { position: absolute; left: 52.5%; top: 50%; display: none;}
div.download { width: 24px; height: 25px; border: 0px solid blue; cursor: pointer; }
#imgDownload { background: url(../../expedientes/iconos/download.png); background-repeat: no-repeat; width: 32px; height: 26px; background-size: 32px;}
		
#downModalRef { position: absolute; left: 70%; top: 16%; }
div.downModal { width: 65px; height: 65px; border: 0px solid blue; cursor: pointer; }
div.downModal:hover{ color: #0679B8; }
#imgDownModal { background: url(../../expedientes/iconos/download.png); background-repeat: no-repeat; width: 32px; height: 26px; background-size: 32px; position: relative; left: 24%;}
span.sp_down_1 { position: absolute; top: 47%; left: 12%; }
span.sp_down_2 { position: absolute; left: 10%; top: 67%; }
		
#previewRef { position: absolute; left: 39%; top: 7.75%; }
div.preview { width: 65px; height: 65px; border: 0px solid blue; cursor: pointer; }
div.preview:hover{ color: #0679B8; }
#imgPreview { background: url(../../expedientes/iconos/preview.png); background-size: 28px; background-repeat: no-repeat; width: 28px; height: 33px; position: relative; left: 29%; }
span.sp_preview_1 { position: absolute; top: 56%; left: 2%; }
span.sp_preview_2 { position: absolute; left: 8%; top: 76%; }
					
#arbolRef { position: absolute; left: 10%; top: 10%; }
div.arbol { width: 65px; height: 65px; border: 0px solid blue; cursor: pointer; }
div.arbol:hover{ color: #0679B8; }
#imgArbol { background: url(../../expedientes/iconos/arbol.png); background-size: 30px; background-repeat: no-repeat; width: 30px; height: 30px; position: relative; left: 25%; }
span.sp_arbol_1 { position: absolute; left: 16%; top: 52%; }
span.sp_arbol_2 { position: absolute; top: 73%; left: 7%; }