
BODY {
	MARGIN:4px;
    BORDER:0px;
    PADDING:0px;
    OVERFLOW: hidden;
    BACKGROUND-COLOR: #f1f1f1;
 /*  	background-image: url("../images/back3.gif");*/
}
#topFrame {
	WIDTH:100%; 
	HEIGHT:34px;
}
#tocArea{
	POSITION:absolute;
	TOP:36px;						/*(30 the height of topframe + 4 of the body margin)*/
	LEFT:4px;
	WIDTH:151px;
	height:0px;
/*	BORDER-LEFT:1px solid #416D94; */
	BORDER-BOTTOM:0px;
}
#workArea {
	POSITION:absolute;
	LEFT:158px;						/*(150 tocs width + the body margins 4 )*/
	TOP:34px;						/*(30 the height of topframe + the body margins 4)*/
	height:0px;
	/*BORDER-LEFT:1px solid #416D94;*/
	BORDER-LEFT:0px;	
	BORDER-BOTTOM:0px;		
/*	BORDER-BOTTOM:1px solid #416D94;*/
/*	BORDER-RIGHT:1px solid #416D94;*/
	BORDER-RIGHT:0px solid #416D94;
}

.feedBackFrame{
	POSITION: absolute;
	DISPLAY:none;
	WIDTH:350px;
	HEIGHT:201px;
	OVERFLOW:hidden;
}

.modalWin{
	BORDER:#416D94 1px solid;
    background-image:url(../../gradient.jsp?height=1&width=300&colors=495261;495261);
	background-repeat:repeat-y;
	background-color:#495261;
}

.closeButton{
	background-image:url(../images/modalCloseBtn.png);
}
