

BODY{
	background-color:#cccccc;
	/*BACKGROUND-COLOR:  #A4CBEA;*/
	overflow:hidden;
	margin:0px;
	padding:0px;
}
INPUT{
	font-size:11px;
   	font-family:Tahoma, Verdana, Arial;
}
.lg{
	font-family:verdana,tahoma;
	font-size:11px;
}

.lg TD{
	padding:1px;
}

SELECT{
	font-size:11px;
   	font-family:Tahoma, Verdana, Arial;
}

BUTTON{
	BACKGROUND-COLOR:  #DFDFDF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
    BORDER: 1px outset;
    FONT-SIZE: 8pt;
    
    MARGIN-LEFT:2px;
    MARGIN-RIGHT:2px;
    WIDTH:70px;
}
.box{
	height:170px; 
	width:350px;
	background-color:#DFDFDF;
	border:6px solid white;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='999999', Direction=120, Strength=4);
	
	font-family:verdana,tahoma;
	font-size:11px;
}
.box IMG{
	border-bottom:6px solid white;
}
.box .col1{
	width:40%;
	text-align:center;
}
.box .col2{
	border-left:3px dotted white;
}
.box .col3{
	text-align:center; 
	width:60%;
}
.box .col3 A{
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#DEE5F2;
}
.links{
	text-align:center;
	
}
.title{
	font-weight:bold;
	font-family:arial,tahoma;
	font-size:34px;
	color:white;
}
.subTitle{
	font-family:verdana;
	font-size:11px;
	text-align:center;
}
.date{
	text-align:right;
	color:#4266AE;
	font-family:verdana;
	font-size:11px;
	padding-right:2px;
	height:18px;
}
.copyrightTxt{
	font-family:verdana;
	font-size:9px;
	text-align:right;
	padding-right:6px;
	color:#666666;
}

.box .col3 A.remember { color:black; font-weight: normal; text-decoration: underline; font-size: 10px; }

