body { 
	background-color: #f3f3f3 none repeat scroll 0 0 !important;
}

div.planelContainer div.panel { background: #fff none repeat scroll 0 0; border: 1px solid #cfcfcf; box-shadow: 1px 1px 2px #cfcfcf;}

div.planelContainer {
    padding: 0px !important;
}


div.pnlId_1_1007_1090Content > div.optionsInner {
	display: none;
}

div.pnlId_1_1007_1089Content > div.optionsInner {
	display: none;
}

.login-panel .loginPanelButton {
	width: 60% !important;	
}

div.login-panel div.section div.field {
	display: block !important;
	margin-bottom: 5px;
	float: none !important;
}

div.login-panel form {
	float: none !important;
}

div.login-panel {
	margin-bottom: 20px;
	float: none !important;
	padding-left: 20px;
	padding-right: 20px;
}

#iframe_pnlId_1_1009_1129 {
	padding-top: 20px;
	padding-right: 15px;
}

#iframe_pnlId_1_1009_1150 {
	padding-top: 20px;
	padding-right: 15px;
}

.MovilLandingPage-OneColumn .pnlId_1_1009_1154Content, .MovilLandingPage-OneColumn .pnlId_1_1009_1128Content {
	display: none;
}

.MovilLandingPage-OneColumn .pnlId_1_1009_1152Content {
	background-color: #0A5584;
}

.MovilLandingPage-OneColumn .pnlId_1_1009_1152Content .subheader {
	box-shadow: none;
}

.MovilLandingPage-OneColumn .pnlId_1_1009_1152Content {
	height: 115px;
}

.MovilLandingPage-OneColumn .pnlId_1_1009_1152Content .subheader .container span {
	margin-left: -15px !important;
}

.MovilLandingPage-OneColumn div[pnlid="pnlId_1_1009_1154"], .MovilLandingPage-OneColumn div[pnlid="pnlId_1_1009_1128"] {
	display: none !important;
}

@media (max-width: 768px) {
	.indiceAlfa .left {
	    width: 100% !important;
	}
}

.MovilLandingPage-OneColumn .pnlId_1_1009_1127Content a > img {
	width: 200px;
}