BODY{
   BORDER:1px solid black;
   MARGIN-TOP:0px;
	MARGIN-LEFT:0px;
	MARGIN-RIGHT:0px;
	MARGIN-BOTTOM:0px;
   OVERFLOW: hidden;
}
    
.spanLogged{
	WIDTH:30px;
	HEIGHT: 18px;
	color:#000000;
	PADDING:2px;
	FONT-SIZE: 8pt;
	LETTER-SPACING:1px;
	MARGIN-TOP:1px;
	margin-bottom:1px;
	CURSOR:default;
	FONT-FAMILY: Tahoma, Verdana, Arial;
}

.spanName{
	HEIGHT: 18px;
	color:#000000;
	PADDING:2px;
	FONT-SIZE: 8pt;
	LETTER-SPACING:1px;
	MARGIN-TOP:1px;
	margin-bottom:1px;
	CURSOR:default;
	FONT-FAMILY: Tahoma, Verdana, Arial;
}

.spanMenu{
	HEIGHT: 18px;
	color:#000000;
	PADDING:2px;
	FONT-SIZE: 8pt;
	LETTER-SPACING:1px;
	MARGIN-TOP:1px;
	margin-bottom:1px;
	CURSOR:default;
	FONT-FAMILY: Tahoma, Verdana, Arial;
}

.spanLogout{
	HEIGHT: 18px;
	color:#000000;
	PADDING:2px;
	FONT-SIZE: 8pt;
	LETTER-SPACING:1px;
	MARGIN-TOP:1px;
	MARGIN-RIGHT:10px;
	margin-bottom:1px;
	CURSOR:default;
	FONT-FAMILY: Tahoma, Verdana, Arial;
}


.btn{
	background-image:url(../../gradient.jsp?height=20&width=1&colors=EFEF94;FFFFFF&type=v);
    background-repeat:repeat-x;
    background-color:#FFFFFF;
	BORDER:1px solid #416D94;
	color:#1B4D80;
    HEIGHT: 18px;
    WIDTH: 18px;
    MARGIN-LEFT: 1px;
    margin-right:2px;
	 margin-bottom:3px;
    PADDING: 0px;
    TEXT-ALIGN: center;
}
.btn IMG{
	FILTER:alpha(opacity=40);
}    


.degree {
	
}

.degree2 {
	background-image:url(../../gradient.jsp?height=1&width=350&colors=FFFFFF;F0F09E;F79422);
    background-repeat:repeat-y;
    background-color:#F79422;
}

SELECT{
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 8pt;
}
