BODY{
/*   BORDER-BOTTOM:1px solid #7c7c94;*/
   BORDER-TOP:1px solid #7c7c94;   
/*   BORDER-LEFT:1px solid #7c7c94;   */
   BORDER-RIGHT:1px solid #7c7c94;   
   MARGIN-TOP:0px;
   MARGIN-LEFT:0px;
   MARGIN-RIGHT:0px;
   MARGIN-BOTTOM:0px;
   OVERFLOW: hidden;
}
    
.spanLogged{
	WIDTH:30px;
	HEIGHT: 18px;
	/*filter:shadow(color=#c1c1c1,strength=1);*/
	color:white;
	PADDING:2px;
	FONT-SIZE: 8pt;
	LETTER-SPACING:1px;
	MARGIN-TOP:1px;
	margin-bottom:1px;
	CURSOR:default;
	FONT-FAMILY: Tahoma, Verdana, Arial;
}

.spanName{
	HEIGHT: 18px;
	/*filter:shadow(color=#c1c1c1,strength=1);*/
	color:white;
	PADDING:2px;
	FONT-SIZE: 8pt;
	LETTER-SPACING:1px;
	MARGIN-TOP:1px;
	margin-bottom:1px;
	CURSOR:default;
	FONT-FAMILY: Tahoma, Verdana, Arial;
}

.spanMenu{
	HEIGHT: 18px;
	color:black;
	PADDING:2px;
	FONT-SIZE: 8pt;
	LETTER-SPACING:1px;
	MARGIN-TOP:1px;
	margin-bottom:1px;
	CURSOR:default;
	FONT-FAMILY: Tahoma, Verdana, Arial;
}

.spanLogout{
	HEIGHT: 18px;
	color:black;
	PADDING:2px;
	FONT-SIZE: 8pt;
	LETTER-SPACING:1px;
	MARGIN-TOP:1px;
	MARGIN-RIGHT:10px;
	margin-bottom:1px;
	CURSOR:default;
	FONT-FAMILY: Tahoma, Verdana, Arial;
}


.btn{
	background-image:url(../../gradient.jsp?height=20&width=1&colors=a8a7bf;706f91&type=v);
	background-repeat:repeat-x;
	background-color:#706f91;
	
	BORDER:1px solid #416D94;
	color:#1B4D80;
    HEIGHT: 18px;
    WIDTH: 18px;
    MARGIN-LEFT: 1px;
    margin-right:2px;
	 margin-bottom:3px;
    PADDING: 0px;
    TEXT-ALIGN: center;
}
.btn IMG{
	FILTER:alpha(opacity=40);
}    


.degree {
/*	filter:progid:DXImageTransform.Microsoft.gradient(enabled=true, startColorstr=#aeadc6, endColorstr=#d9dbe3);*/
/*	filter:progid:DXImageTransform.Microsoft.gradient(enabled=true, startColorstr=#a8a7bf, endColorstr=#636282);*/
	BACKGROUND-COLOR:#727183;
/*	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#e8e8e8', endColorStr='#d1d1d1', gradientType='0');*/
}

.degree2 {
/*		filter:progid:DXImageTransform.Microsoft.gradient(enabled=true, startColorstr=#a8a7bf, endColorstr=#636282);*/
	background-image:url(../images/topBack.gif);
	background-repeat:repeat-x;
/*	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='##a8a7bf', endColorStr='#d1d1d1', gradientType='0');*/
}

SELECT{
	FONT-FAMILY: Tahoma, Verdana, Arial;
	FONT-SIZE: 8pt;
}
