.title {
	background-color: #d3d7cf;
}

.tableData {
	width: 100%;
}

 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover {
    background-color: #b3d1ff;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
	border-style: solid;
    border-width: 1px;
    border-color: #b3d1ff;
    padding: 0 18px;
    background-color: white;
    display: none;
} 