<!DOCTYPE html>
<body>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr><td align="center" valign="middle" width="50%" ><img align="middle" src='/Apia/images/uploaded/-1441662122.JPEG'></td></tr>
<!-- 		'dirLogoCaratula' -->
	</table>
	<br/>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td align="left" valign="middle" width="50%" ></td>
			<td align="center" valign="middle" width="20%" ><font face="Arial" size="5"><b>formaDoc</b></font></td>
			<td align="center" valign="middle" width="20%" ><font face="Arial" size="5"><b>numeroCaratula</b></font></td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td align="left" valign="middle" width="50%" ></td>
<!-- 			<td align="center" valign="middle" width="20%" ><font face="Arial" size="3">Expediente N&#176;</font></td> -->
<!-- 			<td align="center" valign="middle" width="20%" ><font face="Arial" size="5"><b>2017&#45;10&#45;1&#45;000221</b></font></td> -->
		</tr>
	</table>
	<br/>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="3">tipoForm</font></td>
			<td align="left" valign="middle" width="80%" style="border-bottom:solid; border-bottom-width:0px; border-bottom-color:black"><font face="Arial" size="3">encodeTipoExp</font></td>
		</tr>
	</table>
<!-- 	<br/> -->
<!-- 	<br/> -->
<!-- 	<br/> -->
	<br/>
	titulares
	<table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="white">
		<tr>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="3">oficina1</font></td>
			<td align="left" valign="middle" width="80%" style="border-style:solid; border-width:0px; border-color:black"><font face="Arial" size="3">oficina2</font></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="3">asunto1</font></td>
			<td align="left" valign="middle" width="80%" style="border-style:solid; border-width:0px; border-color:black"><font face="Arial" size="3">asunto2</font></td>
		</tr>
	</table>
	<br/>
	<br/>
	<br/>
	<br/>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="white">
		<tr>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="2">fechaInicio1</font></td>
			<td align="left" valign="middle" width="20%" style="border-bottom:solid; border-bottom-width:0px; border-bottom-color:black"><font face="Arial" size="2">fechaInicio2</font></td>
			<td align="left" valign="middle" width="20%">&nbsp;</td>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="2">fechaValor1</font></td>
			<td align="left" valign="middle" width="20%" style="border-bottom:solid; border-bottom-width:0px; border-bottom-color:black"><font face="Arial" size="2">fechaValor2</font></td>
		</tr>
	</table>
	<br/>
	<br/>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="white">
		<tr>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="2">prioridad1</font></td>
			<td align="left" valign="middle" width="20%" style="border-bottom:solid; border-bottom-width:0px; border-bottom-color:black"><font face="Arial" size="2">prioridad2</font></td>
			<td align="left" valign="middle" width="20%">&nbsp;</td>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="2">leyAcceso</font></td>
			
			
			<td align="left" valign="middle" width="20%" style="border-bottom:solid; border-bottom-width:0px; border-bottom-color:black"><font face="Arial" size="2">confidencialidad1</font></td>
		</tr>
	</table>
	<br/>
	<br/>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="white">
		<tr>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="2">docFisica1</font></td>
			<td align="left" valign="middle" width="20%" style="border-bottom:solid; border-bottom-width:0px; border-bottom-color:black"><font face="Arial" size="2">docFisica2</font></td>
			clasificacion1
			<td align="left" valign="middle" width="20%">&nbsp;</td>
			<td align="left" valign="middle" width="20%"><font face="Arial" size="2">clasificacion2</font></td><td align="left" valign="middle" width="20%" style="border-bottom:solid; border-bottom-width:0px; border-bottom-color:black"><font face="Arial" size="2">clasificacion3</font></td>
			finClasificacion1
		</tr>
	</table>
	<br/>
	<br/>
</body>