.splashPreview {}

/***** TEMPLATE DEFAULT *****/
.splashLayout div.planelContainerHorizontalTop {}
.splashLayout div.panelContainerHorizontalBottom { clear: both;}
.splashLayout div.panelContainerVerticalLeft { float: left; width: 48%; margin: 0px; }
.splashLayout div.panelContainerVerticualRight { float: right; width: 47%; margin: 0px;}
.splashLayout div.panelContainerRight { }
.splashLayout div.left { float: left; width: 74%; margin: 0 0 0 1%; }
.splashLayout div.right {float: right; width: 25%; margin: 0px; }

.templateView.splashPreview div.planelContainerHorizontalTop { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerHorizontalBottom { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerVerticalLeft { height: 140px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerVerticualRight { height: 140px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerRight { height: 210px; border: 1px dashed grey; margin: 2px; text-align: center; }

.templateViewMdl.splashPreview div.planelContainerHorizontalTop { height: 35px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerHorizontalBottom { height: 35px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerVerticalLeft { height: 140px; border: 1px dashed grey; margin: 2px; text-align: center; width: 47% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticualRight { height: 140px; border: 1px dashed grey; margin: 2px; text-align: center; width: 47% !important; }
.templateViewMdl.splashPreview div.panelContainerRight { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; }

/***** TEMPLATE 1 COLUMN *****/
.splashLayout div.planelContainerHorizontalTop-OneColumn { width: 99%; margin: 0px; }
.splashLayout div.left-OneColumn { float: left; width: 98%; margin: 0 0 0 1%; }

.templateView.splashPreview div.planelContainerHorizontalTop-OneColumn { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 99% !important; }

.templateViewMdl.splashPreview div.planelContainerHorizontalTop-OneColumn { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 99% !important; }

/***** TEMPLATE DEFAULT 2 COLUMNS *****/
.splashLayout div.panelContainerVerticalLeft-TwoColumns { float: left; width: 100%; margin: 0px; }
.splashLayout div.panelContainerVerticalRight-TwoColumns { float: right; width: 100%; margin: 0px;}
.splashLayout div.left-TwoColumns { float: left; width: 49%; margin: 0 0 0 1%; }
.splashLayout div.right-TwoColumns {float: right; width: 49%; margin: 0px; }

.templateView.splashPreview div.panelContainerVerticalLeft-TwoColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 100% !important; }
.templateView.splashPreview div.panelContainerVerticalRight-TwoColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 100% !important; }

.templateViewMdl.splashPreview div.panelContainerVerticalLeft-TwoColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 98% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticalRight-TwoColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 98% !important; }

/***** TEMPLATE DEFAULT 3 COLUMNS *****/
.splashLayout div.panelContainerVerticalLeft-ThreeColumns { float: left; width: 100%; margin: 0px; }
.splashLayout div.panelContainerVerticalMiddle-ThreeColumns { width: 100%; margin: 0px; }
.splashLayout div.panelContainerVerticalRight-ThreeColumns { float: right; width: 100%; margin: 0px;}
.splashLayout div.left-ThreeColumns { float: left; width: 32%; margin: 0 0 0 1%; }
.splashLayout div.middle-ThreeColumns { float: left; width: 32%; margin: 0 0 0 1%; }
.splashLayout div.right-ThreeColumns {float: right; width: 32%; margin: 0px; }

.templateView.splashPreview div.panelContainerVerticalLeft-ThreeColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 100% !important; }
.templateView.splashPreview div.panelContainerVerticalMiddle-ThreeColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 100% !important; }
.templateView.splashPreview div.panelContainerVerticalRight-ThreeColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 100% !important; }

.templateViewMdl.splashPreview div.panelContainerVerticalLeft-ThreeColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 98% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticalMiddle-ThreeColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 98% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticalRight-ThreeColumns { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 98% !important; }

/***** TEMPLATE DEFAULT 4 COLUMNS *****/
.splashLayout div.panelContainerVerticalLeft-FourColumns { float: left; width: 100%; margin: 0px; }
.splashLayout div.panelContainerVerticalMiddleLeft-FourColumns { width: 100%; margin: 0px; }
.splashLayout div.panelContainerVerticalMiddleRight-FourColumns { width: 100%; margin: 0px; }
.splashLayout div.panelContainerVerticalRight-FourColumns { float: right; width: 100%; margin: 0px;}
.splashLayout div.left-FourColumns { float: left; width: 24%; margin: 0 0 0 1%; }
.splashLayout div.middleLeft-FourColumns { float: left; width: 24%; margin: 0 0 0 1%; }
.splashLayout div.middleRight-FourColumns { float: right; width: 24%; margin: 0 0 0 1%; }
.splashLayout div.right-FourColumns {float: right; width: 24%; margin: 0 0 0 1%; }

.templateView.splashPreview div.panelContainerVerticalLeft-FourColumns { height: 220px; border: 1px dashed grey; margin: 1px; text-align: center; width: 100% !important; }
.templateView.splashPreview div.panelContainerVerticalMiddleLeft-FourColumns { height: 220px; border: 1px dashed grey; margin: 1px; text-align: center; width: 100% !important; }
.templateView.splashPreview div.panelContainerVerticalMiddleRight-FourColumns { height: 220px; border: 1px dashed grey; margin: 1px; text-align: center; width: 100% !important; }
.templateView.splashPreview div.panelContainerVerticalRight-FourColumns { height: 220px; border: 1px dashed grey; margin: 1px; text-align: center; width: 100% !important; }

.templateViewMdl.splashPreview div.panelContainerVerticalLeft-FourColumns { height: 220px; border: 1px dashed grey; margin: 1px; text-align: center; width: 98% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticalMiddleLeft-FourColumns { height: 220px; border: 1px dashed grey; margin: 1px; text-align: center; width: 98% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticalMiddleRight-FourColumns { height: 220px; border: 1px dashed grey; margin: 1px; text-align: center; width: 98% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticalRight-FourColumns { height: 220px; border: 1px dashed grey; margin: 1px; text-align: center; width: 98% !important; }

/***** TEMPLATE 1 COLUMN 2 ROWS *****/
.splashLayout div.planelContainerHorizontalTop-OneColTwoRows {}
.splashLayout div.panelContainerHorizontalBottom-OneColTwoRows { clear: both;}
.splashLayout div.panelContainerVerticalLeft-OneColTwoRows { float: left; width: 100%; margin: 0px; }
.splashLayout div.left-OneColTwoRows { float: left; width: 24%; margin: 0 0 0 1%; }
.splashLayout div.right-OneColTwoRows {float: right; width: 74%; margin: 0px; }

.templateView.splashPreview div.planelContainerHorizontalTop-OneColTwoRows { height: 108px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerHorizontalBottom-OneColTwoRows { height: 108px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerVerticalLeft-OneColTwoRows { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; }

.templateViewMdl.splashPreview div.planelContainerHorizontalTop-OneColTwoRows { height: 108px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerHorizontalBottom-OneColTwoRows { height: 108px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerVerticalLeft-OneColTwoRows { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 98% !important; }

/***** TEMPLATE 4 SECTIONS *****/
.splashLayout div.planelContainerHorizontalTop-FourSections {}
.splashLayout div.panelContainerVerticalLeft-FourSections { float: left; width: 48%; margin: 0px; }
.splashLayout div.panelContainerVerticalRight-FourSections { float: right; width: 48%; margin: 0px;}
.splashLayout div.panelContainerRight-FourSections { }
.splashLayout div.left-FourSections { float: left; width: 25%; margin: 0 0 0 1%; }
.splashLayout div.right-FourSections {float: right; width: 74%; margin: 0px; }

.templateView.splashPreview div.planelContainerHorizontalTop-FourSections { height: 50px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerVerticalLeft-FourSections { height: 165px; border: 1px dashed grey; margin: 2px; text-align: center; width: 48% !important; }
.templateView.splashPreview div.panelContainerVerticalRight-FourSections { height: 165px; border: 1px dashed grey; margin: 2px; text-align: center; width: 47% !important; }
.templateView.splashPreview div.panelContainerLeft-FourSections { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerVerticalRight-FourSections { height: 165px; border: 1px dashed grey; margin: 2px; text-align: center; width: 47% !important; }

.templateViewMdl.splashPreview div.planelContainerHorizontalTop-FourSections { height: 50px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerHorizontalBottom-FourSections { height: 165px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerVerticalLeft-FourSections { height: 165px; border: 1px dashed grey; margin: 2px; text-align: center; width: 48% !important; }
.templateViewMdl.splashPreview div.panelContainerLeft-FourSections { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerVerticalRight-FourSections { height: 165px; border: 1px dashed grey; margin: 2px; text-align: center; width: 47% !important; }

/***** TEMPLATE 7 SECTIONS *****/
.splashLayout div.planelContainerHorizontalTop-SevenSections {}
.splashLayout div.panelContainerHorizontalBottom-SevenSections { clear: both;}
.splashLayout div.panelContainerVerticalLeft-SevenSections { float: left; width: 48%; margin: 0px; }
.splashLayout div.panelContainerVerticalRight-SevenSections { float: right; width: 48%; margin-right: 1%;}
.splashLayout div.panelContainerRight-SevenSections { }
.splashLayout div.left-SevenSections { float: left; width: 74%; margin: 0 0 0 1%; }
.splashLayout div.right-SevenSections {float: right; width: 25%; margin: 0px; }
.splashLayout div.top-SevenSections { float: left; width: 99%; margin: 0 0 0 1%; }

.splashLayout div.top-SevenSectionsLeft { float: left; width: 60%; margin: 0 0 0 1%; }
.splashLayout div.top-SevenSectionsLRight { float: left; width: 26%; margin: 0 0 0 0px; }
.splashLayout div.top-SevenSectionsRight { float: right; width: 6%; margin: 0 0 0 0px; }

.splashLayout div.bottom-SevenSections {float: left; width: 100%; margin: 0px; }

.templateView.splashPreview div.planelContainerHorizontalTop-SevenSections { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerHorizontalBottom-SevenSections { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerVerticalLeft-SevenSections { height: 95px; border: 1px dashed grey; margin: 2px; text-align: center; width: 48% !important; }
.templateView.splashPreview div.panelContainerVerticalRight-SevenSections { height: 95px; border: 1px dashed grey; margin: 2px; text-align: center; width: 47% !important; }
.templateView.splashPreview div.panelContainerRight-SevenSections { height: 165px; border: 1px dashed grey; margin: 2px; text-align: center; }

.templateViewMdl.splashPreview div.planelContainerHorizontalTop-SevenSections { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerHorizontalBottom-SevenSections { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerVerticalLeft-SevenSections { height: 95px; border: 1px dashed grey; margin: 2px; text-align: center; width: 48% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticalRight-SevenSections { height: 95px; border: 1px dashed grey; margin: 2px; text-align: center; width: 47% !important; }
.templateViewMdl.splashPreview div.panelContainerRight-SevenSections { height: 165px; border: 1px dashed grey; margin: 2px; text-align: center; }


/***** TEMPLATE DEFAULT LANDING PAGE *****/
.splashLayout div.planelContainerHorizontalTop-LandingPage { }
.splashLayout div.panelContainerHorizontalBottom-LandingPage { clear: both;}
.splashLayout div.panelContainerVerticalLeft-LandingPage { float: left; width: 48%; margin: 0px; }
.splashLayout div.panelContainerVerticalRight-LandingPage { float: right; width: 48%; margin: 0px; }
.splashLayout div.left-LandingPage { float: left; width: 99%; margin: 0 0 0 1%; }
.splashLayout div.top-LandingPage { float: left; width: 99%; margin: 0 0 0 1%; }
.splashLayout div.bottom-LandingPage {float: left; width: 99%; margin: 0 0 0 1%; position: fixed; bottom: 0; }

.templateView.splashPreview div.bottom-LandingPage {float: left; width: 99%; margin: 0 0 0 1%; position: relative !important; bottom: auto !important; }
.templateView.splashPreview div.planelContainerHorizontalTopUp-LandingPage { height: 10px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.planelContainerHorizontalTop-LandingPage { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateView.splashPreview div.panelContainerHorizontalBottom-LandingPage { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; position: relative; bottom: auto; }
.templateView.splashPreview div.panelContainerVerticalLeft-LandingPage { height: 130px; border: 1px dashed grey; margin: 2px; text-align: center; width: 48% !important; }
.templateView.splashPreview div.panelContainerVerticalRight-LandingPage { height: 130px; border: 1px dashed grey; margin: 2px; text-align: center; width: 47% !important; }

.templateViewMdl.splashPreview div.bottom-LandingPage {float: left; width: 99%; margin: 0 0 0 1%; position: relative !important; bottom: auto !important; }
.templateViewMdl.splashPreview div.planelContainerHorizontalTopUp-LandingPage { height: 10px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.planelContainerHorizontalTop-LandingPage { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerHorizontalBottom-LandingPage { height: 30px; border: 1px dashed grey; margin: 2px; text-align: center; }
.templateViewMdl.splashPreview div.panelContainerVerticalLeft-LandingPage { height: 130px; border: 1px dashed grey; margin: 2px; text-align: center; width: 48% !important; }
.templateViewMdl.splashPreview div.panelContainerVerticalRight-LandingPage { height: 130px; border: 1px dashed grey; margin: 2px; text-align: center; width: 48% !important; }


/***** TEMPLATE DEFAULT MOVIL LANDING PAGE *****/
.splashLayout div.planelContainerHorizontalTop-MovilLandingPage-OneColumn { margin: 0px; box-sizing: border-box; }
.splashLayout div.left-MovilLandingPage-OneColumn { float: left; width: 98%; margin: 0 0 0 1%; }

.templateView.splashPreview div.planelContainerHorizontalTop-MovilLandingPage-OneColumn { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 99% !important; }

.templateViewMdl.splashPreview div.planelContainerHorizontalTop-MovilLandingPage-OneColumn { height: 220px; border: 1px dashed grey; margin: 2px; text-align: center; width: 99% !important; }


/*////////////////////////////PANEL DE BÚSQUEDA//////////////////////////*/
div.panel table tbody tr td input#searchSimple {
	border: 1px solid #cccccc;
	color: #6b6b6b;
	padding: 6px;
	border-radius: 4px;
}
/*////////////////////////////FIN ITEMS//////////////////////////*/

div.planelContainer div.panel div.panelRssIcon {
	background-image: url("../../img/rss/rss1.gif");
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 14px;
	margin-top: 3px;
	width: 14px;
	float:left;
}

.social-button {
}

iframe.social-button {
	border: none;
	width: 28px;
	height: 28px;
}

/****** Sitemap styles ******/
table.sitemap { table-layout: fixed; }
table.sitemap tbody tr td {	
	padding: 0 15px 2px 10px !important; 
	cursor: pointer; }

div.dsh-container { }
div.dsh-container .dsh-title { position:relative; }
div.dsh-container .dsh-info-container { min-height: 120px; }
div.dsh-container .dsh-image {
	background-repeat: no-repeat;
	float: right;
	width: 25%;
	background-size: 25%;
	margin: 10px 5px;
	text-align: center;
}
div.dsh-container .dsh-image img { width: 100%; max-width: 120px; }
div.dsh-container .dsh-summary { padding: 5px; height:100% }

div.dsh-panels-container { padding-top: 10px; }
div.dsh-panels-container .dsh-panels-list {
	margin-top: 5px;
    padding-left: 15px;
}
/********************* ******/

