

BODY{
	background-color:#FFFFFF;
	/*BACKGROUND-COLOR:  #A4CBEA;*/
	overflow:hidden;
	margin:0px;
	padding:0px;
}
.box{
	height:170px; 
	width:400px;
	background-color:#FFFFFF;
	border:4px solid #EAEAEA;
	font-family:verdana,tahoma;
	font-size:11px;
}
.sysLogo{
	text-align:right;
	color:#AAAAAA;
	font-family:Arial;
	font-size:12px;
	/*font-weight:bold;*/
	padding-right:2px;
	height:122px;
}
.links{
	text-align:center;
	
}
.links A{
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	COLOR:#666666;
}
.winInfo{
	width:100%;
	height:90px;
	background-color:#FFFFFF;
	border:0px solid #287BBA;
}
.title{
	font-weight:bold;
	font-family:arial,tahoma;
	font-size:34px;
	color:white;
}
.subTitle{
	font-family:verdana;
	font-size:11px;
	text-align:center;
}
.sysVer{
	text-align:right;
	color:#4266AE;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding-right:2px;
	height:18px;
}

.copyrightTxt{
	font-family:verdana;
	font-size:9px;
	text-align:right;
	padding-right:6px;
	color:#666666;
}

