div.fieldGroup.lang-trans-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
ul.tab-translations {
	padding-left: 20px;	
}
li.translations {
    display: inline;
    margin-right: 10px;
    color: #00549d;
}
li.translations.active {
    font-weight: bold;
    border-bottom: 2px solid;      
}
li.translations:hover {
    border-bottom: 2px solid #C0C0C0;
}